#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button{
  height: 100px;
  width: 220px;
  border-radius: 15px;
  padding: 15px;
  margin-left: 15px;
  color: white;
  font-size: 20spx;
  font-weight: bold;
  background-color: blue;
}